.menu-bar {
    a[aria-expanded=true] ul {
        background-color: #464646;
    }

    a {
        &:hover {
            background-color: transparent;
        }
    }
}

div [data-pc-section=end] {
    position: absolute;
    left: unset;
    right: 1rem;
    direction: rtl;
}

html[dir=rtl] div [data-pc-section=end] {
    position: absolute;
    right: unset;
    left: 1rem;
    direction: ltr;
}