.fade-in-up {
    background-image: radial-gradient(rgba(0, 0, 0, 0.912), rgba(0, 0, 0, 0.388), rgba(0, 0, 0, 0.057), rgba(0, 0, 0, 0));
    opacity: 0;

    &.is-visible {
        opacity: 1;
        animation: 2s fadeInUp;

        @keyframes fadeInUp {
            0% {
                transform: translateY(50%);
                opacity: 0;
            }

            100% {
                transform: translateY(0%);
                opacity: 1;
            }
        }
    }
}

.fade-in {
    animation: 1.5s fadeIn;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}